header {
    border: 0 solid;
    box-sizing: border-box;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    background-color: hsla(86,13%,89%,0.95);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 0.850rem;    
}

.visible {
    transition: transform 0.4s ease;
    transform: translateY(0%) translateZ(0px);
}

.hidden {
    transition: transform 0.4s ease;
    transform: translateY(-100%) translateZ(0px);
}
